.nomal {
    background-color: orange;
}

.box {
    background-color: pink;
    // content box
    // width: 200px;
    // height: 200px;

    // padding box
    // padding: 8px 12px 16px 20px;

    // margin box
    // margin: 8px 12px 16px 20px;

    // border box
    // border: 5px solid black;
}

.margin {
    background-color: lightblue;
}
