// .nomal {
//     background-color: orange;
// }

// .box {
//     background-color: pink;
//     // content box
//     width: 200px;
//     height: 200px;

//     // padding box
//     padding: 8px 12px 16px 20px;

//     // margin box
//     margin: 8px 12px 16px 20px;

//     // border box
//     border: 10px solid black;

//     box-sizing: border-box;
// }

// div, span {
//     background-color: orange;
//     width: 100px;
//     height: 100px;
// }

// padding, margin, border の挙動 / inline-block
.example {
    background-color: pink;
    padding: 20px;
}
.example span {
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    background-color: lightgreen;
}
